.header {
  color: white;
  background-color: #031424;
  padding: 10px 50px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.headerParent {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.downArrowMedium {
  width: 12px;
}

.deals {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 14px;
}

.faIconColor {
  border: 2px solid #ef262c;
  border-radius: 50%;
  padding: 2px;
}

.headerChildIcon {
  display: flex;
  flex-basis: 25%;
  justify-content: flex-end;
  align-items: center;
  gap: 44px;
  width: 100%;
}

.login {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loginText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  font-size: 13px;
}

.loginText p {
  margin: 0;
}

.signIn {
  color: gray;
}

.fav,
.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favNumber {
  background-color: red;
  color: white;
  padding: 1.5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -16px;
  right: -5px;
}

.cartNumber {
  background-color: red;
  color: white;
  padding: 1.5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -16px;
  right: -5px;
}

.topCategories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  font-size: 16px;
  background-color: #ef262c;
  padding: 0 28px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.discount,
.discountInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.discountText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.discountText p {
  margin: 0;
}

.discountText p:first-child {
  color: gray;
}

.discountText p:last-child {
  color: #ef262c;
  font-size: 14px;
  font-weight: 700;
}
